<section class='styleguide'>
  <section class='styleguide-menu'>
    <ul>
      <li>{{styleguide-link section="buttons"}}</li>
      <li>{{styleguide-link section="headings"}}</li>
      <li>{{styleguide-link section="dropdowns"}}</li>
      <li>{{styleguide-link section="categories"}}</li>
    </ul>
  </section>
  <section class='styleguide-contents'>
    {{outlet}}
  </section>
</section>
