<section class='styleguide'>
  <section class='styleguide-menu'>
    <ul>
      <li class="styleguide-heading">{{i18n "styleguide.atoms"}}</li>
      <li>{{styleguide-link section="buttons"}}</li>
      <li>{{styleguide-link section="headings"}}</li>
      <li>{{styleguide-link section="dropdowns"}}</li>
      <li>{{styleguide-link section="categories"}}</li>
    </ul>

    <ul>
      <li class="styleguide-heading">{{i18n "styleguide.molecules"}}</li>
      <li>{{styleguide-link section="bread-crumbs"}}</li>
    </ul>
  </section>
  <section class='styleguide-contents'>
    {{outlet}}
  </section>
</section>
