<section class='styleguide'>
  <h1>Discourse Styleguide</h1>

  <section class='styleguide-component'>
    <h2>Buttons</h2>

    {{#styleguide-example title="icon"}}
      {{d-button icon="smile-o"}}
    {{/styleguide-example}}

    {{#styleguide-example title="text"}}
      {{d-button label="topic.create"}}
    {{/styleguide-example}}

    {{#styleguide-example title="icon + text"}}
      {{d-button icon="plus" label="topic.create"}}
    {{/styleguide-example}}

    {{#styleguide-example title="primary icon + text"}}
      {{d-button class="btn-primary" icon="plus" label="topic.create"}}
    {{/styleguide-example}}

    {{#styleguide-example title="danger icon + text"}}
      {{d-button class="btn-danger" icon="trash" label="user.admin_delete"}}
    {{/styleguide-example}}

    {{#styleguide-example title="flat"}}
      {{flat-button icon="folder"}}
    {{/styleguide-example}}

  </section>
</section>
