
<div class="section-description">
  <p>
  You can move up and down the font scale by nesting font sizes. 
  For example:
  <pre>
  .parent {
    font-size: $font-up-3;
    .child {
      font-size: $font-down-1; <span>// This is equivilant to $font-up-2</span>
    }
  }
  </pre>
  </p>
</div>

{{#styleguide-example title="$font-up-6, 2.296em"}}
  <p class="font-up-6">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-up-5, 2em"}}
  <p class="font-up-5">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-up-4, 1.7511em"}}
  <p class="font-up-4">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-up-3, 1.5157em"}}
  <p class="font-up-3">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-up-2, 1.3195em"}}
  <p class="font-up-2">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-up-1, 1.1487em"}}
  <p class="font-up-1">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-0, 1em — base font"}}
  <p class="font-0">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-down-1, 0.8706em"}}
  <p class="font-down-1">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-down-2, 0.7579em"}}
  <p class="font-down-2">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-down-3, 0.6599em"}}
  <p class="font-down-3">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-down-4, 0.5745em"}}
  <p class="font-down-4">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-down-5, 0.5em"}}
  <p class="font-down-5">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}

{{#styleguide-example title="$font-down-6, 0.4355em"}}
  <p class="font-down-6">{{i18n "styleguide.sections.typography.example"}}</p>
{{/styleguide-example}}