{{#styleguide-example title="d-icon - font awesome"}}
  {{d-icon "comment-o"}}
  {{d-icon "bold"}}
  {{d-icon "italic"}}
  {{d-icon "link"}}
  {{d-icon "quote-right"}}
  {{d-icon "code"}}
  {{d-icon "upload"}}
  {{d-icon "list-ol"}}
  {{d-icon "header"}}
  {{d-icon "minus"}}
  {{d-icon "smile-o"}}
  {{d-icon "gear"}}
{{/styleguide-example}}

<a href="http://fontawesome.io/icons/">{{i18n "styleguide.sections.icons.full_list"}}</a>
