{{#styleguide-example title="d-icon - font awesome"}}
  {{d-icon "far-comment"}}
  {{d-icon "bold"}}
  {{d-icon "italic"}}
  {{d-icon "link"}}
  {{d-icon "quote-right"}}
  {{d-icon "code"}}
  {{d-icon "upload"}}
  {{d-icon "list-ol"}}
  {{d-icon "heading"}}
  {{d-icon "minus"}}
  {{d-icon "far-smile"}}
  {{d-icon "cog"}}
{{/styleguide-example}}

<a href="https://fontawesome.com/icons?d=gallery&m=free">{{i18n "styleguide.sections.icons.full_list"}}</a>
