{{#styleguide-example title="user-about"}}
  {{#d-section class="user-main"}}
    <section class="{{if collapsedInfo 'collapsed-info'}} about {{if hasProfileBackground 'has-background' 'no-background'}}"  style={{dummy.user.profileBackground}}>

      {{#unless collapsedInfo}}
      <div class='staff-counters'>
        {{#if dummy.user.number_of_flags_given}}
          <div><span class="helpful-flags">{{dummy.user.number_of_flags_given}}</span>&nbsp;{{i18n 'user.staff_counters.flags_given'}}</div>
        {{/if}}
        {{#if dummy.user.number_of_flagged_posts}}
          <div>
            {{#link-to 'user.flaggedPosts' dummy.user}}
              <span class="flagged-posts">{{dummy.user.number_of_flagged_posts}}</span>&nbsp;{{i18n 'user.staff_counters.flagged_posts'}}
            {{/link-to}}
          </div>
        {{/if}}
        {{#if dummy.user.number_of_deleted_posts}}
          <div>
            {{#link-to 'user.deletedPosts' dummy.user}}
              <span class="deleted-posts">{{dummy.user.number_of_deleted_posts}}</span>&nbsp;{{i18n 'user.staff_counters.deleted_posts'}}
            {{/link-to}}
          </div>
        {{/if}}
        {{#if dummy.user.number_of_suspensions}}
          <div><span class="suspensions">{{dummy.user.number_of_suspensions}}</span>&nbsp;{{i18n 'user.staff_counters.suspensions'}}</div>
        {{/if}}
        {{#if dummy.user.warnings_received_count}}
          <div><span class="warnings-received">{{dummy.user.warnings_received_count}}</span>&nbsp;{{i18n 'user.staff_counters.warnings_received'}}</div>
        {{/if}}
      </div>
      {{/unless}}

      <div class='profile-image'></div>
      <div class='details'>
        <div class='primary'>
          {{bound-avatar dummy.user "huge"}}
          <section class='controls'>
            <ul>
              {{#if dummy.user.can_send_private_message_to_user}}
              <li>
                <a class='btn btn-primary' {{action "composePrivateMessage" dummy.user}}>
                  {{d-icon "envelope"}}
                  {{i18n 'user.private_message'}}
                </a>
              </li>
              {{/if}}
              {{#if currentUser.staff}}
                <li><a href={{dummy.user.adminPath}} class="btn">{{d-icon "wrench"}}{{i18n 'admin.user.show_admin_profile'}}</a></li>
              {{/if}}

              {{#if collapsedInfo}}
              {{#if viewingSelf}}
              <li><a {{action "expandProfile"}} href class="btn">{{d-icon "angle-double-down"}}{{i18n 'user.expand_profile'}}</a></li>
              {{/if}}
              {{/if}}

            </ul>
          </section>

          <div class="primary-textual">
            <h1 class="{{if nameFirst "full-name" "username"}}">{{if nameFirst dummy.user.name dummy.user.username}} {{user-status dummy.user currentUser=currentUser}}</h1>
            <h2 class="{{if nameFirst "username" "full-name"}}">{{#if nameFirst}}{{dummy.user.username}}{{else}}{{dummy.user.name}}{{/if}}</h2>
            {{#if dummy.user.title}}
              <h3>{{dummy.user.title}}</h3>
            {{/if}}
            <h3>
            {{#if dummy.user.location}}{{d-icon "map-marker"}} {{dummy.user.location}}{{/if}}
            {{#if dummy.user.website_name}}
              {{d-icon "globe"}}
              {{#if linkWebsite}}
                <a href={{dummy.user.website}} rel={{unless removeNoFollow 'nofollow noopener'}} target="_blank">{{dummy.user.website_name}}</a>
              {{else}}
                <span title={{dummy.user.website}}>{{dummy.user.website_name}}</span>
              {{/if}}
            {{/if}}
            </h3>

            <div class='bio'>
              {{#if dummy.user.isSuspended}}
                <div class='suspended'>
                  {{d-icon "ban"}}
                  <b>{{i18n 'user.suspended_notice' date=dummy.user.suspendedTillDate}}</b><br/>
                  <b>{{i18n 'user.suspended_reason'}}</b> {{dummy.user.suspend_reason}}
                </div>
              {{/if}}
              {{#if isNotSuspendedOrIsStaff}}
                {{{dummy.user.bio_cooked}}}
              {{/if}}
            </div>

            {{#if publicUserFields}}
              <div class="public-user-fields">
                {{#each publicUserFields as |uf|}}
                  {{#if uf.value}}
                    <div class="public-user-field {{uf.field.dasherized_name}}">
                      <span class="user-field-name">{{uf.field.name}}</span>:
                      <span class="user-field-value">{{uf.value}}</span>
                    </div>
                  {{/if}}
                {{/each}}

              </div>
            {{/if}}

          </div>
        </div>
        <div style='clear: both'></div>
      </div>


      {{#unless collapsedInfo}}
      <div class='secondary'>
        <dl>
          {{#if dummy.user.created_at}}
            <dt>{{i18n 'user.created'}}</dt><dd>{{bound-date dummy.user.created_at}}</dd>
          {{/if}}
          {{#if dummy.user.last_posted_at}}
            <dt>{{i18n 'user.last_posted'}}</dt><dd>{{bound-date dummy.user.last_posted_at}}</dd>
          {{/if}}
          {{#if dummy.user.last_seen_at}}
            <dt>{{i18n 'user.last_seen'}}</dt><dd>{{bound-date dummy.user.last_seen_at}}</dd>
          {{/if}}
          <dt>{{i18n 'views'}}</dt><dd>{{dummy.user.profile_view_count}}</dd>
          {{#if dummy.user.invited_by}}
            <dt class="invited-by">{{i18n 'user.invited_by'}}</dt><dd class="invited-by">{{#link-to 'user' dummy.user.invited_by}}{{dummy.user.invited_by.username}}{{/link-to}}</dd>
          {{/if}}
          <dt class="trust-level">{{i18n 'user.trust_level'}}</dt><dd class="trust-level">{{dummy.user.trustLevel.name}}</dd>
          {{#if canCheckEmails}}
            <dt>{{i18n 'user.email.title'}}</dt>
            <dd title={{dummy.user.email}}>
              {{#if dummy.user.email}}
                {{dummy.user.email}}
              {{else}}
                {{d-button action="checkEmail" actionParam=dummy.user icon="envelope-o" label="admin.users.check_email.text" class="btn-primary"}}
              {{/if}}
            </dd>
          {{/if}}
          {{#if dummy.user.displayGroups}}
            <dt class="groups">{{i18n 'groups.title' count=dummy.user.displayGroups.length}}</dt>
            <dd class='groups'>
              {{#each dummy.user.displayGroups as |group|}}
                <span>{{#link-to 'group' group.name class="group-link"}}{{group.name}}{{/link-to}}</span>
              {{/each}}
            </dd>
          {{/if}}
          {{#if canDeleteUser}}
            {{d-button action="adminDelete" icon="exclamation-triangle" label="user.admin_delete" class="btn-danger"}}
          {{/if}}
        </dl>
      </div>
      {{/unless}}
    </section>
  {{/d-section}}
{{/styleguide-example}}
